# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# PHP specific
/vendor/
/node_modules/
/.env

# Logs
*.log

# IDE files
*.vscode/
*.idea/
